* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.menu-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

@media only screen and (max-width: 45em) {
  .menu-button {
    display: block;
  }
}

.menu-button:hover {
  opacity: .7;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  cursor: pointer;
  width: 150px;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

@media only screen and (max-width: 45em) {
  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 45%;
    height: 100%;
    border-right: 1px solid #ccc;
    opacity: .9;
    padding: 30px;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
}

.main-nav ul.main-menu.show {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

@media only screen and (max-width: 45em) {
  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }
}

@media only screen and (max-width: 45em) {
  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }
}

@media only screen and (max-width: 45em) {
  .main-nav ul.right-menu {
    margin-right: 60px;
  }
}

.showcase {
  width: 100%;
  height: 400px;
  background: url(assets/slide1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.showcase .button {
  margin-top: 20px;
}

.home-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 45em) {
  .home-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 35em) {
  .home-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a i {
  -webkit-transition: .5s;
  transition: .5s;
}

.home-cards a:hover i {
  margin-left: 10px;
}

.xbox {
  height: 350px;
  width: 100%;
  background: url(assets/xbox.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px;
}

@media only screen and (max-width: 28em) {
  .xbox .content {
    padding: 30px 0 0 15px;
  }
}

@media only screen and (max-width: 45em) {
  .xbox .content h2 {
    margin-bottom: 20px;
  }
}

.xbox .content p {
  margin: 10px 0 20px;
}

@media only screen and (max-width: 45em) {
  .xbox .content p {
    display: none;
  }
}

.carbon {
  width: 100%;
  height: 350px;
  background: url(assets/carbon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}

.carbon p {
  margin: 10px 0 20px;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
}

@media only screen and (max-width: 45em) {
  .carbon .content {
    width: 85%;
  }
}

@media only screen and (max-width: 28em) {
  .carbon .content {
    padding: 30px 0 0 30px;
  }
}

.dark {
  color: #fff;
}

.dark .button {
  background: #f4f4f4;
  color: #333;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

.button {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.button:hover {
  opacity: .9;
  padding-right: 15px;
}

.button:hover i {
  margin-left: 5px;
}

.button i {
  -webkit-transition: .5s;
  transition: .5s;
}

.links {
  background: #f2f2f2;
  -webkit-columns: #616161;
          columns: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links .links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 45em) {
  .links .links-inner {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 35em) {
  .links .links-inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.links .links-inner li {
  line-height: 2;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.links .links-inner li:hover:not(:first-child) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #111;
}

.footer {
  background: #f2f2f2;
  -webkit-columns: #616161;
          columns: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer .footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 55em) {
  .footer .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer-inner div {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
}

.footer .footer-inner div i {
  margin-right: 10px;
}

.footer .footer-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-inner ul li {
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.footer .footer-inner ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #111;
}
