@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap');

// Responsive Breakpoint
$bp-large: 60em;        //960px
$bp-medium: 48em;       //768px
$bp-small: 35em;        //512x
$bp-smallest: 28em;     //448px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f8fc;
    color: #141c2c;
    font-family: 'Fira Sans', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    color: #2762eb;
    text-decoration: none;
}

.container {
    background: #ffffff;
    border-radius: 3px;
    border: 20px solid #dce7ff;
    width: 1000px;
    max-width: 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .1);

    display: flex;

    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }
}

form {
    border-right: 1px solid #ecf2ff;
    padding: 40px;

    @media only screen and (max-width: $bp-medium){
        border-right: none;
    }

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-control {
        margin: 10px 0;
        width: 100%;
        
        label {
            display: inline-block;
            font-weight: 600;
            margin-bottom: 5px;
        }

        input:not([type="checkbox"]) {
            background-color: transparent;
            border: 2px solid #ecf2ff;
            border-radius: 3px;
            font-family: inherit;
            font-size: 14px;
            padding: 10px;
            width: 100%;
        }
    }

    .checkbox-container {
        display: flex;
        justify-content: space-between;

        font-size: 14px;
        margin-bottom: 15px;
        width: 100%;

        input {
            margin-right: 8px;
        }

        label {
            color: #7a7eac;
            font-weight: 400;
        }

        a {
            margin-left: auto;
        }
    }
}

.features {
    flex: 1.4;
    padding: 40px;

    .feature {
        position: relative;
        padding-left: 30px;
        margin: 40px 0;
        
        i {
            position: absolute;
            color: #2762eb;
            top: 5px;
            left: 0;
        }

        h3 {
            margin: 0;
        }

        p {
            font-size: 14px;
            line-height: 1.8;
            margin: 5px 0;
        }
    }
}

.button {
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;

    img {
        margin-right: 5px;
        width: 20px;
    }
}

.button-ghost {
    background: transparent;
    border-color: #ecf2ff;
    color: #141c2c;
}