@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.6))), url(assets/background.png);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(assets/background.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0 8%;
}

@media only screen and (max-width: 62em) {
  .container {
    padding: 0 4%;
  }
}

@media only screen and (max-width: 50em) {
  .container {
    padding: 0 8%;
  }
}

@media only screen and (max-width: 32em) {
  .container {
    padding: 0 4%;
  }
}

.navbar {
  padding: 20px 0 10px 0;
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  width: 50px;
  cursor: pointer;
}

.navbar .menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

.navbar nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.navbar nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

@media only screen and (max-width: 32em) {
  .navbar nav ul li {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 25em) {
  .navbar nav ul li {
    margin-left: 15px;
  }
}

.navbar nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 50em) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row .col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.row .col-left h1 {
  color: #eee;
  font-size: 60px;
}

@media only screen and (max-width: 32em) {
  .row .col-left h1 {
    font-size: 40px;
  }
}

.row .col-left p {
  color: #ccc;
  font-size: 17px;
  line-height: 20px;
}

.row .col-left button {
  width: 140px;
  color: #000;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 0;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (max-width: 25em) {
  .row .col-left button {
    width: 120px;
    padding: 7px;
  }
}

.row .col-left button:hover {
  background: #000;
  color: #fff;
}

.row .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 50em) {
  .row .col-right {
    margin-top: 40px;
  }
}

.row .col-right .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 32em) {
  .row .col-right .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.row .col-right .card {
  width: 200px;
  height: 230px;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.row .col-right .card:hover {
  -webkit-transform: translateY(-10px) scale(1.05);
          transform: translateY(-10px) scale(1.05);
}

.row .col-right .card h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}

.row .col-right .card p {
  color: #fff;
  font-size: 13px;
  text-shadow: 0 0 5px #999;
}

.row .col-right .card-1 {
  background: url(assets/pic-1.png);
  background-size: cover;
  background-position: center;
}

.row .col-right .card-2 {
  background: url(assets/pic-2.png);
  background-size: cover;
  background-position: center;
}

.row .col-right .card-3 {
  background: url(assets/pic-3.png);
  background-size: cover;
  background-position: center;
}

.row .col-right .card-4 {
  background: url(assets/pic-4.png);
  background-size: cover;
  background-position: center;
}
