@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

// Responsive Breakpoint
$bp-largest: 88em;      //1408px
$bp-larger: 72em;       //1152px
$bp-large: 62em;        //992px
$bp-medium: 50em;       //800px
$bp-small: 40em;        //640px
$bp-smaller: 30em;      //480px
$bp-smallest: 25em;     //400px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;

    @media only screen and (max-width: $bp-larger){
        padding: 50px;
    }
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);

    @media only screen and (max-width: $bp-large){
        clip-path: circle(50% at 100% 100%);
    }

    @media only screen and (max-width: $bp-medium){
        clip-path: circle(50% at 100% 95%);
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        position: relative;
        max-width: 50%;
    }

    ul {
        position: relative;
        display: flex;

        li {
            list-style: none;

            a {
                display: inline-block;
                color: #333;
                font-weight: 400;
                text-decoration: none;
                margin-left: 40px;
            }
        }
    }
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-box {
        position: relative;
        max-width: 600px;

        @media only screen and (max-width: $bp-larger){
            max-width: 520px;
        }

        @media only screen and (max-width: $bp-large){
            max-width: 470px;
        }

        h2 {
            color: #333;
            font-size: 4em;
            line-height: 1.4em;
            font-weight: 500;

            @media only screen and (max-width: $bp-larger){
                font-size: 3.5em;
            }

            @media only screen and (max-width: $bp-large){
                font-size: 3em;
            }

            @media only screen and (max-width: $bp-medium){
                font-size: 2.5em;
            }

            span {
                color: #017143;
                font-size: 1.2em;
                font-weight: 900;

                @media only screen and (max-width: $bp-larger){
                    font-size: 1.1em;
                }
            }
        }

        p {
            color: #333;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 8px 20px;
            background: #017140;
            color: #fff;
            border-radius: 40px;
            font-weight: 500;
            letter-spacing: 1px;
            text-decoration: none;
        }
    }

    // Main Image

    .img-box {
        width: 600px;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        margin-top: 50px;

        @media only screen and (max-width: $bp-large){
            padding-right: 0;
            margin-right: -50px;
        }

        img {
            max-width: 340px;

            @media only screen and (max-width: $bp-large){
                max-width: 300px;
            }
            
            @media only screen and (max-width: $bp-medium){
                max-width: 260px;
            }
        }
    }
}

// Bottom tumbnails

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;

    li {
        list-style: none;
        margin: 0 20px;
        display: inline-block;
        cursor: pointer;
        transition: .5s;

        &:hover {
            transform: translateY(-15px);
        }

        img {
            max-width: 60px;
        }
    }
}

// Social Items

.social {
    position: absolute;
    bottom: 10px;
    left: 5%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;

    li {
        list-style: none;
        padding: 0 10px;

        a {
            text-decoration: none;
            display: inline-block;
            margin: 5px;
            font-size: 1.5em;
            transition: .8s;

            &:hover {
                transform: scale(1.15);
            }

            .fa-facebook {
                color: #3b5999;
            }

            .fa-instagram {
                color: #e4405f;
            }

            .fa-twitter {
                color: #55acee;
            }
        }
    }
}