@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  -webkit-clip-path: circle(600px at right 800px);
          clip-path: circle(600px at right 800px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  position: relative;
  max-width: 50%;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  margin-left: 40px;
}

.content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .text-box {
  position: relative;
  max-width: 600px;
}

.content .text-box h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .text-box h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .text-box p {
  color: #333;
}

.content .text-box a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017140;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .img-box {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: 50px;
      -ms-flex-align: 50px;
          align-items: 50px;
  margin-top: 50px;
}

.content .img-box img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumb li {
  list-style: none;
  margin: 0 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.thumb li:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}

.social {
  position: absolute;
  top: 15%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social li {
  list-style: none;
}

.social li a {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  font-size: 1.5em;
  -webkit-transition: .8s;
  transition: .8s;
}

.social li a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.social li a .fa-facebook {
  color: #3b5999;
}

.social li a .fa-instagram {
  color: #e4405f;
}

.social li a .fa-twitter {
  color: #55acee;
}
