@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background: #111;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
}

section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

section header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
}

section header .logo span {
  font-size: 1.6em;
}

section header .toggle {
  font-size: 2.5em;
  color: azure;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
}

.bird {
  position: absolute;
  bottom: 0;
  right: 100px;
  max-height: 80%;
}

.content {
  position: absolute;
  left: 100px;
  max-width: 600px;
  z-index: 10;
}

.content h2 {
  font-size: 3.5em;
  color: #fff;
  font-weight: 500;
  line-height: 2em;
}

.content h2 span {
  font-weight: 900;
  font-size: 2.8em;
  margin-left: -10px;
  letter-spacing: 5px;
}

.content p {
  color: #fff;
  margin-top: -15px;
}

.content a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.social {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  font-size: 2.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 10px;
  background: rgba(255, 255, 255, 0.6);
}

.social li {
  list-style: none;
  cursor: pointer;
}

.social li .fa-facebook-f {
  color: #3b5999;
}

.social li .fa-instagram {
  color: #e4405f;
}

.social li .fa-twitter {
  color: #55acee;
}

.textBlocks {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textBlocks .block {
  position: relative;
  padding: 20px;
  margin-right: 40px;
  max-width: 500px;
  background: rgba(0, 255, 0, 0.2);
}

.textBlocks .block h3 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.textBlocks .block p {
  color: #fff;
}
