@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #09131b;
  height: 100vh;
  color: #fff;
}

.header {
  background: #122331;
  position: relative;
  max-width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header ul {
  list-style: none;
}

.header .logo {
  font-size: 2rem;
}

.header .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 62em) {
  .header .menu-items {
    position: absolute;
    height: calc(100vh - 100%);
    width: 100%;
    max-width: 350px;
    top: 100%;
    right: 0;
    background: #122331;
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    opacity: 0;
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: -1;
  }
}

@media screen and (max-width: 62em) {
  .header .menu-items.open {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header .menu-items li {
  padding: 0.5rem 1rem;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
}

@media screen and (max-width: 62em) {
  .header .menu-items li {
    margin: 15px 10px;
  }
}

.header .menu-items li:hover {
  background: #ff652f;
}

@media screen and (max-width: 62em) {
  .header .menu-items li:hover {
    background: transparent;
  }
}

.header .menu-items li:hover .mega-menu {
  top: 65px;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 62em) {
  .header .menu-items li a {
    padding: 0 1rem;
    display: block;
    font-size: 1.4rem;
  }
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}

.dropdown-menu,
.menu-right {
  position: absolute;
  background: #122331;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-right {
  top: 0;
  left: 110%;
}

.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mega-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 80vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.mega-menu .content {
  background: #122331;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 62em) {
  .mega-menu .content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
  }
}

.mega-menu .content .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 3rem;
}

@media screen and (max-width: 62em) {
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
  }
}

@media screen and (max-width: 62em) {
  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
}

.mega-menu .content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}

.mega-menu .content .col .img-wrapper:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.mega-menu .content .col .img-wrapper .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mega-menu .content .col .img-wrapper .img img {
  width: 100%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.mega-menu .content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}

.mega-menu .content .col p {
  line-height: 1.2rem;
}

.mega-menu .content .col .mega-links {
  border-left: 1px solid #1a3246;
}

@media screen and (max-width: 62em) {
  .mega-menu .content .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
  }
}

.mega-menu .content .col .mega-links li {
  padding: 0 1rem;
}

@media screen and (max-width: 62em) {
  .mega-menu .content .col .mega-links li {
    margin: 0;
  }
}

.mega-menu .content .col .mega-links a {
  padding: 0 1rem;
}

.blog .content {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 62em) {
  .blog .content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.blog .content .col .read-more {
  display: inline-block;
  padding: 1rem;
  color: #427dad;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.blog .content .col .read-more:hover {
  color: #ff652f;
}

@media screen and (max-width: 62em) {
  .dropdown-menu,
  .menu-right,
  .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    padding-left: 1rem;
    width: 100%;
    max-height: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section h1 {
  font-weight: 900;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}

@media screen and (max-width: 62em) {
  .expand-btn.open + .expandable {
    max-height: 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@media screen and (max-width: 62em) {
  .expandable li {
    margin: 0;
  }
}

@media screen and (max-width: 62em) {
  .expandable a {
    font-size: 1rem;
  }
}

.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 62em) {
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-btn_lines::before,
.menu-btn_lines::after {
  content: "";
  position: absolute;
}

.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn_lines::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.menu-btn_lines::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn_lines {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  background: transparent;
}

.menu-btn.open .menu-btn_lines::after {
  -webkit-transform: rotate(45deg) translate(-1.5rem, 1.5rem);
          transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #ffffff;
}

.menu-btn.open .menu-btn_lines::before {
  -webkit-transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
          transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #ffffff;
}
