@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

// Responsive Breakpoint
$bp-largest: 88em;      //1408px
$bp-larger: 75em;       //1200px
$bp-large: 62em;        //992px
$bp-medium: 50em;       //800px
$bp-small: 38em;        //608px
$bp-smaller: 30em;      //480px
$bp-smallest: 25em;     //400px

:root {
    --background: #641b4e;
    --red: #f60f20;
    --white : #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: var(--background);
}

a {
    text-decoration: none;
    color: unset;
}

section {
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

    @media only screen and (max-width: $bp-medium){
        padding: 100px 40px;
    }

    @media only screen and (max-width: $bp-small){
        padding: 100px 20px;
    }

    @media only screen and (max-width: $bp-smaller){
        padding: 50px 20px;
    }

    .logo {
        position: fixed;
        top: 30px;
        color:var(--white);
        font-weight: 700;
        font-size: 2em;
        z-index: 100;
        cursor: pointer;
    }

    .bg {
        position: absolute;
        top: 0;
        right: 60px;
        height: 100%;

        @media only screen and (max-width: $bp-medium){
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: .7;
        }
    }

    .content {
        position: relative;
        z-index: 1;
        max-width: 850px;

        @media only screen and (max-width: $bp-medium){
            max-width: 500px;
        }

        @media only screen and (max-width: $bp-small){
            max-width: 400px;
        }

        @media only screen and (max-width: $bp-smaller){
            max-width: 330px;
        }

        @media only screen and (max-width: $bp-smallest){
            max-width: 300px;
        }

        h2 {
            color: var(--white);
            font-size: 3em;
            font-weight: 700;
            line-height: 1.2em;

            span {
                font-size: 1.5em;
            }
            
            @media only screen and (max-width: $bp-medium){
                font-size: 2.5em;
            }
    
            @media only screen and (max-width: $bp-small){
                font-size: 2em;
            }

            @media only screen and (max-width: $bp-smaller){
                font-size: 1.8em;
            }
        }

        p {
            color: var(--white);
            font-size: 1.1em;
            margin: 20px 0;
        }

        .github {
            color: var(--white);
            background: var(--red);
            font-size: 1.2em;
            margin: 20px 0;
            font-weight: 700;
            padding: 8px 25px;
            border-radius: 5px;
            display: inline-block;
            transition: all .5s;

            &:hover {
                transform: scale(1.04) translateY(-8px);
            }

            .fa-github {
                margin-left: 5px;
                font-size: 22px;
            }
        }
    }

    .copyright {
        position: absolute;
        bottom: 30px;
        color: var(--white);
        font-size: 1.1em;

        .copyright-by {
            color: var(--red);
        }
    }
}

.menuToggle {
    position: fixed;
    top: 0;
    right: 0;
    color: var(--white);
    font-size: 34px;
    padding: 8px 15px;
    cursor: pointer;
    z-index: 1000;
    background: var(--red);
}


.navigation {
    position: fixed;
    top: 0;
    left: calc(100% - 60px);
    width: 100%;
    height: 100%;
    color: var(--black);
    background: linear-gradient(to left, var(--background) , var(--white) 90%);
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .5s;

    &.active {
        left: 0;
    }

    .nav {
        position: relative;
        list-style: none;

        li {
            position: relative;
            text-align: center;

            a {
                font-size: 2em;
                font-weight: 300;
                transition: .2s;

                &:hover {
                    color: var(--red);
                }
            }
        }
    }

    .socialBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, .1);
        background: linear-gradient(var(--background) 60%, var(--red));

        display: flex;
        align-items: center;
        justify-content: center;

        .social {
            position: relative;
            list-style: none;

            li{
                position: relative;
                text-align: center;
                transition: all .5s;

                :hover {
                    transform: scale(1.1);
                }
            }

            .fab {
                font-size: 35px;
                margin: 10px 0;
            }
            
            .fa-facebook-f {
                color: #3b5999;
            }
        
            .fa-instagram {
                color: #e4405f;
            }
        
            .fa-twitter {
                color: #55acee;
            }
        }
    }
}